# docker-compose.yml

services:
  ml_api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./models/:/app/models
      - ./.env.example:/app/.env.example
    environment:
      MODEL_PATH: "/app/models/my_classifier_model.h5"
      LOG_LEVEL: "DEBUG"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: on-failure
